<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-fragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>REAP</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<nav th:fragment="navbar-fragment" class="navbar navbar-light bg-white navbar-expand-lg sticky-top">
    <a class="navbar-brand" th:href="@{'/users/' + ${user.getId()}}">
        <img src="/images/reaplogo.png" height="30" class="d-inline-block align-top" alt="reap-logo">
        <img src="/images/logo.png" height="30" class="d-inline-block align-top" alt="reap-logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span style="color: #fff;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/users/' + ${user.getId()}}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/users/' + ${user.getId()} + '/recognitions'}">My Recognitions</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" th:href="@{'/users/' + ${user.getId()} + '/orders'}">My Orders</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/items}">Redeem points</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" th:href="@{'/users/' + ${user.getId()} + '/cart'}"><i
                        class="fas fa-shopping-cart"></i></a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   href="#"
                   id="navbarDropdown"><i class="far fa-user-circle"></i></a>
                <div class="dropdown-menu dropdown-menu-right p-3" aria-labelledby="navbarDropdown">
                    <h5 class="text-center">Your Profile</h5>
                    <hr/>
                    <div class="row no-gutters">
                        <div class="col-md-4 text-center">
                            <i style="font-size: 5em;" class="far fa-user-circle"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Name</small>
                                </div>
                                <div class="col-md-8" th:text="${user.getFullName()}"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Business Unit</small>
                                </div>
                                <div class="col-md-8">Technology</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Region</small>
                                </div>
                                <div class="col-md-8">Ninjas</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <small>Email</small>
                                </div>
                                <div class="col-md-8" th:text="${user.getEmail()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-2">
                        <button id="logoutButton" type="button" class="btn btn-danger btn-block">Logout</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- USER DETAILS -->
<div th:fragment="user-details-fragment">
    <div class="alert alert-success" role="alert" id="successAlert" style="display: none;">
    </div>

    <div class="alert alert-danger" role="alert" id="errorAlert" style="display: none;">
    </div>

    <div class="alert alert-danger" role="alert" id="selfRecognitionAlert" style="display: none;">
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> Recognize Newer
                </div>
                <div class="card-body">
                    <!-- Recognition form -->
                    <form id="recognitionForm" th:action="@{/recognize}" method="post" th:object="${recognition}">
                        <input type="hidden" th:value="${user.getId()}" name="senderId" id="senderId"/>
                        <input type="hidden" th:value="${user.getFullName()}" name="senderName" id="senderName"/>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="far fa-user"></i></div>
                                    </div>
                                    <input type="text" id="userNameToRecognize" th:field="*{receiverName}"
                                           class="form-control" required
                                           placeholder="Select a Newer">
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <select th:field="*{badge}" class="form-control" required>
                                    <option disabled selected value="">Select a Badge</option>
                                    <option th:disabled="${user.getGoldShareable() lt 1}"
                                            data-thumbnail="/images/gold.png" value="gold">Gold
                                        <small th:text="'(' + ${user.getGoldShareable()} + ')'"></small>
                                    </option>
                                    <option th:disabled="${user.getSilverShareable() lt 1}"
                                            data-thumbnail="/images/silver.png" value="silver">Silver
                                        <small th:text="'(' + ${user.getSilverShareable()} + ')'"></small>
                                    </option>
                                    <option th:disabled="${user.getBronzeShareable() lt 1}"
                                            data-thumbnail="/images/bronze.png" value="bronze">Bronze
                                        <small th:text="'(' + ${user.getBronzeShareable()} + ')'"></small>
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 mb-3">
                                <select class="form-control" th:field="*{reason}" required>
                                    <option disabled selected value="">Select a Karma/Core Value</option>
                                    <option value="k-customer-delight">Karma: Customer Delight</option>
                                    <option value="k-extra-miler">Karma: Extra Miler</option>
                                    <option value="k-knowledge-sharing">Karma: Knowledge Sharing</option>
                                    <option value="k-mentorship">Karma: Mentorship</option>
                                    <option value="k-pat-on-the-back">Karma: Pat on the Back</option>
                                    <option value="cv-continuous-learning-improvement">Core Value: Continuous
                                        Learning and Improvement
                                    </option>
                                    <option value="cv-contribution">Core Value: Contribution</option>
                                    <option value="cv-diligence">Core Value: Diligence</option>
                                    <option value="cv-empathy">Core Value: Empathy</option>
                                    <option value="cv-openness-feedback-change">Core Value: Openness to Feedback and
                                        Change
                                    </option>
                                    <option value="cv-responsible-freedom">Core Value: Responsible Freedom</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="reasonTextArea" style="font-weight: bold;">Comments</label>
                                <textarea th:field="*{comment}" rows="5" style="resize: none" class="form-control"
                                          id="reasonTextArea"
                                          placeholder="Please select a karma/core value first"
                                          required></textarea>
                                <small class="text-danger error" th:if="${#fields.hasErrors('comment')}"
                                       th:errors="*{comment}"></small>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-4">
                                <button type="submit" class="btn-block btn btn-success">Recognize</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-trophy"></i> Wall of Fame
                    <form id="searchRecognitions" th:action="@{/searchRecognitionByName}"
                          th:object="${recognitionSearch}" style="display: inline-block"
                          class="form-inline">
                        <input type="hidden" th:value="${user.getId()}" name="currentUserId" id="currentUserId"/>
                        <input type="text" id="recognizedUserName" class="form-control form-control-sm"
                               th:field="*{fullName}" autocomplete="off"
                               placeholder="Search">
                        <button id="searchRecognitionButton" class="btn btn-success btn-sm" type="button">Search
                        </button>
                    </form>
                    <span th:if="${isAdmin}" class="dropdown">
                        <a href="#" role="button" id="downloadDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="mx-1">
                            <i class="far fa-save"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="downloadDropdownLink">
                            <a id="downloadToday" th:href="@{/downloadCSV/today}" class="dropdown-item"
                               style="text-transform: initial;">Today</a>
                            <a id="downloadYesterday" th:href="@{/downloadCSV/yesterday}" class="dropdown-item"
                               style="text-transform: initial;">Yesterday</a>
                            <a id="downloadLast7Days" th:href="@{/downloadCSV/last7}" class="dropdown-item"
                               style="text-transform: initial;">Last 7 days</a>
                            <a id="downloadLast30Days" th:href="@{/downloadCSV/last30}" class="dropdown-item"
                               style="text-transform: initial;">Last 30 days</a>
                        </div>
                    </span>
                    <span class="dropdown">
                        <a href="#" role="button" id="dateDropdownLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="mx-1">
                            <i class="far fa-calendar-alt"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dateDropdownLink">
                            <a id="dateToday" class="dropdown-item" style="text-transform: initial;">Today</a>
                            <a id="dateYesterday" class="dropdown-item" style="text-transform: initial;">Yesterday</a>
                            <a id="dateLast7Days" class="dropdown-item" style="text-transform: initial;">Last 7 days</a>
                            <a id="dateLast30Days" class="dropdown-item"
                               style="text-transform: initial;">Last 30 days</a>
                        </div>
                    </span>
                </div>

                <div style="display: none" id="recognitionResults"
                     class="alert alert-success fade show" role="alert">
                    <h4 class="alert-heading">Search results</h4>
                    <hr>
                    <div class="row newer-row align-items-center">
                        <div class="col-sm-2 text-center">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-sm-10" id="userdataDiv">
                            <p id="userdata"></p>
                        </div>
                    </div>
                    <div style="display: none" id="recognitionEmpty"
                         class="alert alert-danger fade show" role="alert">
                        <h4 class="alert-heading">No results found</h4>
                    </div>
                    <p class="mb-0"></p>
                </div>

                <div class="card-body" th:each="recognition: ${recognitionList}">
                    <div class="row newer-row align-items-center">
                        <div class="col-sm-2 text-center">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="recognitionIdClass col-sm-10">
                            <input type="text" style="display: none" name="recognitionIdToRevoke"
                                   th:value="${recognition.getId()}"/>
                            <button th:if="${isAdmin}" type="button"
                                    th:disabled="${recognition.getRevoked()}"
                                    class="revokeRecognitionButtonClass float-right btn btn-sm btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <p><strong th:text="${recognition.getReceiverName()}"></strong>
                                has received a
                                <span th:if="${recognition.badge=='gold'}">
                                    <img src="/images/gold.png">
                                </span>
                                <span th:if="${recognition.badge=='silver'}">
                                    <img src="/images/silver.png">
                                </span>
                                <span th:if="${recognition.badge=='bronze'}">
                                    <img src="/images/bronze.png">
                                </span>
                                from
                                <strong th:text="${recognition.getSenderName()}"></strong><br/>
                                for <em th:text="${recognition.getReason()}"></em><br/>
                                because <em th:text="${recognition.getComment()}"></em>
                            </p>
                            <small th:text="'On ' + ${recognition.getDate()}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> My Redeemable Badges
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${user.getFullName()}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${user.getGoldRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${user.getSilverRedeemable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${user.getBronzeRedeemable()}"></small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <strong th:text="${user.getPoints()}"></strong>
                                    <strong> points</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="far fa-star"></i> My Shareable Badges
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${user.getFullName()}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${user.getGoldShareable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${user.getSilverShareable()}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${user.getBronzeShareable()}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="far fa-calendar-alt"></i> Newers Board
                </div>
                <div class="card-body" th:each="recognizedUserRedeemableBadgeEntry: ${recognizedUserRedeemableBadges}">
                    <div class="row newer-row justify-content-center">
                        <div class="col-3">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="col-9">
                            <strong th:text="${recognizedUserRedeemableBadgeEntry.key}"></strong><br/>
                            <div class="row">
                                <div class="col-3">
                                    <img src="/images/gold.png">
                                    <small th:text="${recognizedUserRedeemableBadgeEntry.value[0]}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/silver.png">
                                    <small th:text="${recognizedUserRedeemableBadgeEntry.value[1]}"></small>
                                </div>
                                <div class="col-3">
                                    <img src="/images/bronze.png">
                                    <small th:text="${recognizedUserRedeemableBadgeEntry.value[2]}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:fragment="footer-fragment">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</div>
</html>