<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/my-fragments :: header-fragment"></head>
<body>
<div th:replace="fragments/my-fragments :: navbar-fragment"></div>
<div class="container" id="main">
    <h1 class="display-4">Redeemable items</h1>
    <!-- Alerts -->
    <div class="alert alert-success" role="alert" id="successCartAlert" style="display: none;">
    </div>

    <div class="alert alert-danger" role="alert" id="errorCartAlert" style="display: none;">
    </div>
    <div class="table-responsive">
        <table class="text-center table table-light table-bordered">
            <thead>
            <tr class="card-header">
                <th style="display: none;" scope="col">ID</th>
                <th style="display: none;" scope="col">UserId</th>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Points worth</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody th:each="item: ${itemList}">
            <tr class="itemRow">
                <th style="display: none" scope="row"><input name="itemId" type="text" th:value="${item.id}"></th>
                <th style="display: none" scope="row"><input name="userId" type="text" th:value="${user.id}"></th>
                <td><img class="img-fluid user-photo" th:src="${item.imageUrl}"/></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.pointsWorth}"></td>
                <!-- <td th:text="${item.quantity}"></td> -->
                <td>
                    <button type="button" class="addItemToCartButton btn btn-success"
                            th:disabled="${item.quantity lt 1}">
                        <i style="color: white" class="fas fa-cart-plus"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div th:replace="fragments/my-fragments :: footer-fragment"></div>
</body>
</html>