body {
    background: #eee;
    font-family: sans-serif;
}

.navbar {
    padding: 1em 2.7em;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #799fca !important;
}

.reap-text {
    font-weight: 900;
    font-size: 1.5em;
    font-family: Serif;
}

.navbar-nav .nav-item a {
    padding: 0.5em;
    color: #000 !important;
}

.navbar-nav .nav-item a:hover {
    background: #799fca;
    color: #fff !important;
}

.navbar-nav .nav-item a:active {
    background: #799fca;
    color: #fff;
}

#main {
    padding: 1.5em;
}


.card-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #004ba1;
}

@media (min-width: 768px) {
    .nav-item .dropdown-menu {
        width: 600px !important;
    }
}

#dateDropdownLink {
    text-decoration: none;
    text-transform: none;
    color: #e0efef;
    font-size: 1.5em;
    float: right;
}

#downloadDropdownLink {
    text-decoration: none;
    text-transform: none;
    color: #e0efef;
    font-size: 1.5em;
    float: right;
}

.card-body .fa-user-circle {
    font-size: 3em;
}

.newer-row {
    margin-bottom: 1em;
}

.newer-row:last-child {
    margin-bottom: 0;
}

.user-photo {
    height: 3em;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}